@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
html, body {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s;
  border-bottom: 1px solid #aaa; }
  header img {
    height: 40px;
    transition: all 0.3s; }
  header .main-menu {
    position: absolute;
    right: 0;
    top: 30%; }

header.smaller {
  height: 70px; }
  header.smaller img {
    height: 30px; }

.fixed {
  position: fixed;
  width: 100%;
  height: 100%; }
  .fixed .fixed-video-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px; }

#fixed_image {
  padding-top: 100px; }

#fixed_none {
  padding-top: 100px; }

.scroll {
  width: 100%;
  float: left;
  height: 500px;
  position: absolute;
  top: 100%; }
  .scroll .scroll_1, .scroll .scroll_2, .scroll .scroll_3, .scroll .scroll_4, .scroll .scroll_5, .scroll footer {
    width: 100%;
    float: left;
    padding: 80px 0;
    box-sizing: border-box; }
  .scroll .scroll_1 h2 {
    width: 100%;
    text-align: center;
    padding-top: 60px; }

.articles-section h3 {
  text-align: center;
  width: 100%; }
.articles-section p {
  text-align: center;
  width: 100%; }
.articles-section .article-picture {
  display: block;
  width: 180px;
  height: 130px;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.3s; }
  .articles-section .article-picture:hover {
    background-size: 140%; }

.member-section h2 {
  text-align: center;
  margin: 30px 0;
  box-sizing: border-box;
  width: 100%; }
.member-section p {
  text-align: center;
  margin: 10px 0;
  width: 100%; }
.member-section .member {
  margin-top: 50px; }
  .member-section .member .member-picture {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border: 7px solid #ccc;
    border-radius: 50%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.4s; }
    .member-section .member .member-picture:hover {
      background-size: auto 140%; }
  .member-section .member h3, .member-section .member p {
    text-align: center; }

footer {
  min-height: 200px; }

.carousel_background {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  box-sizing: border-box;
  color: #fff; }
  .carousel_background h2 {
    width: 30%;
    line-height: 60px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #666;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff; }
  .carousel_background p {
    width: 50%;
    margin: 0 auto;
    text-align: juscify;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 4px; }

#webform-submission-contact-us-add-form {
  width: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 20px; }
  #webform-submission-contact-us-add-form input, #webform-submission-contact-us-add-form textarea {
    border-radius: 5px; }
  #webform-submission-contact-us-add-form input {
    display: block;
    width: 290px;
    margin: 20px;
    box-sizing: border-box;
    float: left; }
  #webform-submission-contact-us-add-form input#edit-submit {
    display: block;
    margin: 0 auto; }
  #webform-submission-contact-us-add-form textarea {
    margin: 0 20px 20px 20px;
    width: 620px; }

#edit-actions input {
  font-weight: bold;
  width: 30%;
  float: none;
  margin: 20px auto; }

/*# sourceMappingURL=styles.css.map */
