@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

html, body{
    margin:0;
    padding:0;
}

body{   
}

header{
    width:100%;
    position:fixed;
    z-index: 100;
    height:80px;
    padding:20px;
    box-sizing:border-box;
    transition:all 0.3s;
    border-bottom:1px solid #aaa;
    
    img{
        height:40px;
        transition:all 0.3s;
    }
    
    .main-menu{
        position: absolute;
        right: 0;
        top: 30%;
    }
}

header.smaller{
    height:70px;
    
    img{
        height:30px;
    }
}

.fixed{
    position:fixed;
    width:100%;
    height:100%;
    
    .fixed-video-front{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        padding-top:100px;
    }    
}

#scroll-btn{
    width: 60px;
    height: 60px;
    color:#fff;
    position:absolute;
    
    bottom:10%;
    left:0;
    right:0;
    margin:auto;
    transform:rotate(45deg);
    border-width: 5px;
    border-style:none solid solid none;
    border-right-color:#fff;
    border-bottom-color:#fff;
    cursor: pointer;
    transition:all 0,5s;
    filter:blur(2px);
    animation-duration: 5s;
    
    &:hover{
        filter:blur(0px);
    }
}

    #fixed_image{
        padding-top:100px;
    }
    
    #fixed_none{
        padding-top:100px;
    }

.scroll{
    width:100%;
    float:left;
    height:500px;
    position:absolute;
    top:100%;
    
    .scroll_1, .scroll_2, .scroll_3, .scroll_4, .scroll_5, footer{
        width:100%;
        float:left;
        padding:40px 0;
        box-sizing: border-box;
    }
    
    .scroll_1{       
        padding-top:80px;
    }
}

.articles-section{
    
    h2, h3{
        text-align:center;
        width:100%;
    }
    
    p{
        text-align:center;
        width:100%;
    }
    
    .articles{
        margin-top:50px;
    }
    
    .article-picture{
        display:block;
        width:180px;
        height:120px;
        margin:0 auto 20px;
        background-position:center top;
        background-repeat:no-repeat;
        background-size:100%;
        transition:all 0.3s;
        box-shadow: 5px 5px 5px #888888;
        
        &:hover{
            background-size:140%;
        }
    }
}

.member-section{
    h2{
        text-align:center;
        margin:30px 0;
        box-sizing: border-box;
        width:100%;
    }
    
    p{
        text-align:center;
        margin:10px 0;
        width:100%;
    }
    
    .member{
        margin-top:50px;
        
        .member-picture{
            width:180px;
            height:180px;
            margin:0 auto;
            border:7px solid #ccc;
            border-radius:50%;
            background-position:center top;
            background-repeat:no-repeat;
            background-size:auto 100%;
            filter:grayscale(100%);
            transition:all 0.8s;
            
            &:hover{
                background-size: auto 140%;
                filter:grayscale(0%);
            }
        }
        
        h3, p{
            text-align:center;
        }
    }
    
}

footer{
    min-height:200px;
}

.carousel_background{
    width:100%;
    height:100vh;
    padding-top:150px;
    box-sizing:border-box;
    color:#fff;
    
    h2{
        width:30%;
        line-height:60px;
        margin:50px auto;
        text-align:center;
        border:2px solid #666;
        background-color:rgba(0,0,0,0.5);
        border:2px solid #fff;
    }
    
    p{
        width:50%;
        margin:0 auto;
        text-align:juscify;
        background-color:rgba(0,0,0,0.5);
        padding:15px;
        border:2px solid #fff;
        border-radius:4px;
    }
}

#webform-submission-contact-us-add-form{
    width:700px;
    background-color:rgba(0,0,0,0.5);
    margin:0 auto;
    padding:20px;
    
    input, textarea{
        border-radius:5px;
    }
    
    input{
        display:block;
        width:290px;
        margin:20px;
        box-sizing: border-box;
        float:left;
    }
    
    input#edit-submit{
        display:block;
        margin:0 auto;
    }
    
    textarea{
        margin:0 20px 20px 20px;
        width:620px;
    }
}

#edit-actions{
    
    input{
        font-weight:bold;
        width:30%;
        float:none;
        margin:20px auto;
    }
}