
html, body{
    margin:0;
    padding:0;
}

body{   
}

header{
    width:100%;
    position:fixed;
    z-index: 100;
    height:100px;
    padding:10px;
    box-sizing:border-box;
    transition:all 0.3s;
    border-bottom:1px solid #aaa;
    
    img{
        height:80px;
        transition:all 0.3s;
    }
}

header.smaller{
    height:70px;
    
    img{
        height:50px;
    }
}

.fixed{
    position:fixed;
    width:100%;
    height:100%;
}

.scroll{
    width:100%;
    float:left;
    height:500px;
    position:absolute;
    top:100%;
    
    .scroll_1, .scroll_2, .scroll_3, .scroll_4, .scroll_5, footer{
        width:100%;
        float:left;
    }
    
    .scroll_1{
        h2{
            width:100%;
            text-align: center;
            padding-top:60px;
        }
    }
}

footer{
    min-height:200px;
}

.carousel_background{
    width:100%;
    height:100vh;
    padding-top:150px;
    box-sizing:border-box;
    
    h2{
        width:30%;
        line-height:60px;
        margin:50px auto;
        text-align:center;
        border:2px solid #666;
    }
    
    p{
        width:50%;
        margin:0 auto;
        text-align:juscify;
    }
}

