
html, body{
    margin:0;
    padding:0;
}

body{   
}

header{
    width:100%;
    position:fixed;
    z-index: 100;
    height:100px;
    padding:10px;
    box-sizing:border-box;
    transition:all 0.3s;
    border-bottom:1px solid #aaa;
    
    img{
        height:80px;
        transition:all 0.3s;
    }
}

header.smaller{
    height:70px;
    
    img{
        height:50px;
    }
}

.fixed{
    position:fixed;
    width:100%;
    height:100%;
    padding-top:50px;
}

.scroll{
    width:100%;
    height:500px;
    position:absolute;
    top:100%;
    
    .scroll_1{
        h2{
            width:100%;
            text-align: center;
            padding-top:60px;
        }
    }
}

footer{
    min-height:200px;
}

